<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Calc</title>
</head>
<body>

<p>Guess a number between 1 and 5:</p>

<form method="post">
    Your guess: <input name="guess">
    <button type="submit">GO</button>
</form>

{% if result %}
{{ result }}
{% endif %}

</body>
</html>